extends layout

block body
  .pure-u-1-1
    #main
      h1 映画上映 in 「冬の友 金沢の冬の過ごしかた 2015」
      .pure-u-sm-3-4.center
        img.max(src='./images/main.png')
      .desc
        | イベント「
        a.dottedAnchor(href='http://otomekanazawa.jugem.jp/?eid=413') 冬の友 金沢の冬の過ごしかた
        | 」にて16ミリフィルムのアニメーション映画を上映します。
      .desc 屋外テントでの上映になりますので、暖かくしていらしてください。
